# Описание задачи

Цель: построить модель машинного обучения для предсказания успешности стартапа на основе входных данных

# Чтение данных

In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
data = pd.read_csv('./startup_data.csv')
data

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,352,CA,37.740594,-122.376471,94107,c:21343,San Francisco,NaN,CoTweet,1,...,c:21343,0,0,1,0,0,0,6.0000,1,acquired
919,721,MA,42.504817,-71.195611,1803,c:41747,Burlington,Burlington MA 1803,Reef Point Systems,0,...,c:41747,1,0,0,1,0,0,2.6667,1,closed
920,557,CA,37.408261,-122.015920,94089,c:31549,Sunnyvale,NaN,Paracor Medical,0,...,c:31549,0,0,0,0,0,1,8.0000,1,closed
921,589,CA,37.556732,-122.288378,94404,c:33198,San Francisco,NaN,Causata,1,...,c:33198,0,0,1,1,0,0,1.0000,1,acquired
922,462,CA,37.386778,-121.966277,95054,c:26702,Santa Clara,Santa Clara CA 95054,Asempra Technologies,1,...,c:26702,0,0,0,1,0,0,3.0000,1,acquired

     Unnamed: 0 state_code   latitude   longitude zip_code       id  \
0          1005         CA  42.358880  -71.056820    92101   c:6669
1           204         CA  37.238916 -121.973718    95032  c:16283
2          1001         CA  32.901049 -117.192656    92121  c:65620
3           738         CA  37.320309 -122.050040    95014  c:42668
4          1002         CA  37.779281 -122.419236    94105  c:65806
..          ...        ...        ...         ...      ...      ...
918         352         CA  37.740594 -122.376471    94107  c:21343
919         721         MA  42.504817  -71.195611     1803  c:41747
920         557         CA  37.408261 -122.015920    94089  c:31549
921         589         CA  37.556732 -122.288378    94404  c:33198
922         462         CA  37.386778 -121.966277    95054  c:26702

              city              Unnamed: 6                  name  labels  ...  \
0        San Diego                     NaN           Bandsintown       1  ...
1        Los Gatos                     NaN             TriCipher       1  ...
2        San Diego      San Diego CA 92121                 Plixi       1  ...
3        Cupertino      Cupertino CA 95014     Solidcore Systems       1  ...
4    San Francisco  San Francisco CA 94105        Inhale Digital       0  ...
..             ...                     ...                   ...     ...  ...
918  San Francisco                     NaN               CoTweet       1  ...
919     Burlington      Burlington MA 1803    Reef Point Systems       0  ...
920      Sunnyvale                     NaN       Paracor Medical       0  ...
921  San Francisco                     NaN               Causata       1  ...
922    Santa Clara    Santa Clara CA 95054  Asempra Technologies       1  ...

    object_id has_VC has_angel has_roundA  has_roundB  has_roundC  has_roundD  \
0      c:6669      0         1          0           0           0           0
1     c:16283      1         0          0           1           1           1
2     c:65620      0         0          1           0           0           0
3     c:42668      0         0          0           1           1           1
4     c:65806      1         1          0           0           0           0
..        ...    ...       ...        ...         ...         ...         ...
918   c:21343      0         0          1           0           0           0
919   c:41747      1         0          0           1           0           0
920   c:31549      0         0          0           0           0           1
921   c:33198      0         0          1           1           0           0
922   c:26702      0         0          0           1           0           0

     avg_participants  is_top500    status
0              1.0000          0  acquired
1              4.7500          1  acquired
2              4.0000          1  acquired
3              3.3333          1  acquired
4              1.0000          1    closed
..                ...        ...       ...
918            6.0000          1  acquired
919            2.6667          1    closed
920            8.0000          1    closed
921            1.0000          1  acquired
922            3.0000          1  acquired

[923 rows x 49 columns]